.welcomeTitle {
    background-image: url("../../assets/home-bg.jpg");
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 0 0 50%;
    position: relative;
}

.welcomeTitle h1 {
    color: #fff;
    margin-top: 10px;
    position: absolute;
    right: 40px;
    top: 80px;
}

.main {
    display: flex;
    flex-grow: 1;
}

@media screen and (max-width: 767px) {
    .welcomeTitle {
        flex: 0 0 30%;
    }

    .welcomeTitle h1 {
        display: none;
    }

    .main {
        flex-direction: column;
    }

}